/* content.css */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    font-size: 1.2em;
    padding: 2px 4px;
}

button, input {
    min-height: 36px;
    min-width: 80px;
    margin: 4px;
}
