/*
frontend styles for popup.html
 */

body {
    font-family: Arial, sans-serif;
    width: 220px;
    padding: 10px;
    background: #f5f5f5;
}

h2 {
    text-align: center;
    font-size: 18px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #005fa3;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
