/*
frontend styles for popup.html
 */

body {
    width: 250px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

div {
    margin-bottom: 10px;
}

button {
    margin: 2px;
    padding: 6px 8px;
    cursor: pointer;
}
